html, body {
  background-image:url('binding_dark.png');
  background-color: #000;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  color: #333;
  text-align: center;
  overflow-x: hidden;
}

.image {
  overflow: hidden;
  height: 300px;
}

.header {
  height: 500px;
}

.backgroundImage {
  overflow: hidden;
  height: 100%;
  background-image: url('binding_dark.png');
  background-repeat: repeat-y;
}

#header {
  background-image: url('binding_dark.png');
  background-repeat: repeat-y;
}

.content {
  background: white;
}

.content article {
  padding: 10px;
  margin: 0 auto;
  max-width: 480px;
}

footer {
  padding: 10px;
  color: white;
  background: #333;
}

#chevron {
  position: absolute;
  text-align: center;
  padding: 18px;
  margin-bottom: 6px;
  height: 60px;
  width: 100%;
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: gold;
  -webkit-transform: skew(0deg, 8deg);
  -moz-transform: skew(0deg, 8deg);
  -ms-transform: skew(0deg, 8deg);
  -o-transform: skew(0deg, 8deg);
  transform: skew(0deg, 8deg);
}

#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: gold;
  -webkit-transform: skew(0deg, -8deg);
  -moz-transform: skew(0deg, -8deg);
  -ms-transform: skew(0deg, -8deg);
  -o-transform: skew(0deg, -8deg);
  transform: skew(0deg, -8deg);
}​

#chevron2 {
  position: relative;
  text-align: center;
  padding: 18px;
  margin-bottom: 6px;
  height: 60px;
  width: 100%;
}

#chevron2:before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: teal;
  -webkit-transform: skew(0deg, 8deg);
  -moz-transform: skew(0deg, 8deg);
  -ms-transform: skew(0deg, 8deg);
  -o-transform: skew(0deg, 8deg);
  transform: skew(0deg, 8deg);
}

#chevron2:after {
  content: '';
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: teal;
  -webkit-transform: skew(0deg, -8deg);
  -moz-transform: skew(0deg, -8deg);
  -ms-transform: skew(0deg, -8deg);
  -o-transform: skew(0deg, -8deg);
  transform: skew(0deg, -8deg);
}​

.center {     
    height: 30px; 
    width: 639px;  
    text-align: center;  
    bottom: 0; 
    left:50%; 
    margin:0 0 0 -320px;
    }

.video-container {
    padding-bottom: 52.25%;
    padding-top: 40px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    left: 0;
    width: 100%;
    height: 100%;
}

p {
  color: gold;
}

h1 {
  z-index: 2;
  position: absolute;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-family: inherit
  font-weight: 500;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 50px;
}