#chevron {
  z-index: 1;
  position: absolute;
  text-align: center;
  padding: 18px;
  margin-bottom: 6px;
  height: 260px;
  width: 100%;
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: gold;
  -webkit-transform: skew(0deg, 8deg);
  -moz-transform: skew(0deg, 8deg);
  -ms-transform: skew(0deg, 8deg);
  -o-transform: skew(0deg, 8deg);
  transform: skew(0deg, 8deg);
}

#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: gold;
  -webkit-transform: skew(0deg, -8deg);
  -moz-transform: skew(0deg, -8deg);
  -ms-transform: skew(0deg, -8deg);
  -o-transform: skew(0deg, -8deg);
  transform: skew(0deg, -8deg);
}​

.center {     
    height: 30px; 
    width: 639px;  
    text-align: center;  
    position: absolute;  
    bottom: 0; 
    left:50%; 
    margin:0 0 0 -320px; /* left 50% PLUS margin top 0 right 0 bottom 0 left (halfwidth) makes sure it fits different screen*/
    }

.video-container {
    position: relative;
    top: 260px; /* temp for fixing header */
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}


h1 {
  z-index: 2;
  position: absolute;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-family: inherit
  font-weight: 500;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 30px;
}